@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
a {
  color: black;
}
.img-header {
  background: url(./img/repas-pour-tous-3.jpg) fixed no-repeat center/cover;
  overflow-y: hidden;
}
header {
  max-height:  200px ; 
}
.header-container, section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(109, 223, 2);
}
.header-container{
  width: 100%;
  height: 100%;
  padding: 50px;
  background: rgba(173, 155, 117, 0.377);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2rem;
  text-align: center;
}
nav {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100vw;
  background: rgb(109, 223, 2);
}
body > nav > div {
  width: 100%;
  height: 66px;
}
.img-logo {
  width: 150px;
  height: 66px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px 0 20px 0px;
  text-align: center;
  margin: 0 40px 0 0;
  transition: 0.5s;
}
nav > a:hover {
  color: #ffffff;
  transition: 0.5s;
  font-size: 0.95rem;
}
.pages {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  background: #cadaac;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
.img-pos {
  display: flex;
  margin: 0 auto;
  width: 243px;
  height: 150px;
}
.img-event-1{
  border-radius: 15px;
}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0px 0;
  background: #cadaac;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
.btn-container {
  height: 70px;
  width: 100%;
  margin: 25px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn {
  margin: 15px 0 15px 0;
  padding: 20px 30px;
  border: 0px solid;
  background:  rgba(65, 223, 2, 0.418);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}
.btn > a {
  color: black;
}
button:hover {
  background:  rgb(109, 223, 2);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 3px 4px 8px 0px;
  transition: 0.2s ease-in-out;
}
.container, section {
  background: #ffffff;
  min-height: 100%;
  padding: 60px 25px 50px;
}
section {
    display: none;
    position: absolute;
    top: 0px;
    left: -1000px;
    width: 100%;
    height: 100%;
    transition: all ease-in 3s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #191919;
} 
section:target{
    display: flex;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all ease-in 3s;
}
footer {
  background: rgb(109, 223, 2);
  width:100%;
  z-index: 2;
}